{% extends 'base.html.twig' %}

{% block title %}All movies - {{ parent() }}{% endblock %}

{% block body %}
    <div class="container mt-5">
    {% for movie in pager %}

        <div class="row border border-end mb-3 mt-3">
            <div class="col-xxl-3 col-lg-3 col col-md col-sm">
                <div class="bg-image hover-zoom ">
                    <a href="/movie/{{ movie.slug }}" data-mdb-toggle="tooltip" title="{{ movie.name }}">
                        <img src="/images/{{ movie.filename }}" class="img-fluid " alt="">
                    </a>
                </div>
            </div>

            <div class="col-md">
                <a href="/movie/{{ movie.slug }}" class="fs-4 text-light fw-bold text-decoration-none">{{ movie.name }}</a>
                <p>{{ movie.description }}</p>
                <div class="text-end">
                    {% for rating in movie.rating %}
                        <p class="fs-6 me-3"><i class="fas fa-star text-warning"></i> {{ rating.vote|round(2) }}</p>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
    <div class="d-flex justify-content-center">
        {{ pagerfanta(pager) }}
    </div>


{% endblock %}
