{% extends 'base.html.twig' %}

{% block title %}Actor - {{ parent() }}{% endblock %}

{% block body %}
<div class="container">
    {% for actor in actors %}
        <div class="mt-5 mb-5">
            <div class="row">
                <div class="col-xxl-3 col-xl-4 col-12 col-md-5 col-sm-10">
                    <div class="card-deck">
                        <div class="card d-flex justify-content-between hover-zoom">
                            <div class="imageGallery1 bg-image hover-zoom">
                                <img src="/images/{{ actor.avatar }}" class="card-img-top shadow" alt="">
                            </div>
                            <div class="card-footer text-center">
                                <u class="text-decoration-none fst-italic">{{ actor.name }}</u>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col col-xxl-6 col-xl-6 col-lg-5 col-md-7 col-sm-12">
                    {% if actor.bio %}
                        <p>{{ actor.bio }}</p>
                    {% else %}
                        <h5 class="alert alert-danger">This Actor has no biography added yet!</h5>
                    {% endif %}
                    <div class="row mt-4">
                        <div class="col col-xxl-3 col-xl-4 col-lg-4 col-md-3 col-sm-5">
                            <p>Date of birth</p>
                            <p>Born</p>
                        </div>
                        <div class="col col-xxl-6 col-xl-5 col-sm">
                            <p>{{ actor.birthday|date('d M Y') }}</p>
                            <p>{{ actor.birthplace }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-5 mb-5"><hr>
            <h4 class="text-success">Filmography:</h4>
            <div class="row">
                {% for movies in actor.movies %}
                    <div class="">
                        <h5>{{ movies.releasedAt|date('Y') }}</h5>
                    </div>
                    <div class="col-xxl-3 col-xl-3 col-lg-4 col-md-5 col-sm-8 mb-3">
                        <div class="card-deck">
                            <div class="card d-flex justify-content-between">
                                <div class="imageGallery1 bg-image hover-zoom">
                                    <a href="../movie/{{ movies.slug }}"><img src="/images/{{ movies.filename }}" class="card-img-top shadow" alt=""></a>
                                </div>
                                <div class="card-footer text-center">
                                    <a class="text-decoration-none text-light" href="../movie/{{ movies.slug }}">{{ movies.name }}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}
